@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200;1,300&display=swap');
body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.87)) , url(../images/car.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.topleft {
  position: absolute;
  font-size: 4rem;
  top: 30px;
  left: 30px;
}

.topleft a{
  color: white;
}

.bottom {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 2rem;
  bottom: 0;
  margin-bottom: 50px;
}
/* LinkedIn */

#linkedin{
  color: white;
  transition: .5s ease;
}
#linkedin:hover{
  font-size: 3rem;
  color: rgb(14, 118, 168);
}

.linkedin{
  transition: .5s ease;
}
.linkedin:hover{
  font-size: 1.1rem;
  color: rgb(14, 118, 168);
}

/* HandShake */

#handshake{
  color: white;
  transition: .5s ease;
}
#handshake:hover{
  font-size: 3rem;
  color:tomato;
}

.handshake{
  color: white;
  transition: .5s ease;
}
.handshake:hover{
  font-size: 1.1rem;
  color:tomato;
}
/* Instagram */
#instagram{
  color: white;
  transition: .5s ease;
}

#instagram:hover{
  font-size: 3rem;
  display: block;
  color: #d6249f;
  -webkit-text-fill-color: none;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle a{
  font-weight: 900;
  text-decoration: none;
  color: white;
}


hr {
  margin: auto;
  width: 70%;
}