@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,200;1,300&display=swap');
body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.8)) , url(../images/car.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.topleft {
  position: absolute;
  top: 15px;
  left: 15px;
}
.topleft img{
  width: 5%;
  
}

.topleft img:hover{
  border: inherit;
  border: 1px solid white;
}

.bottom {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 2rem;
  bottom: 0;
  margin-bottom: 60px;
}
/* LinkedIn */

#linkedin{
  color: white;
  transition: .3s ease;
}
#linkedin:hover{
  font-size: 3rem;
  color: rgb(14, 118, 168);
}

.linkedin{
  transition: .3s ease;
}
.linkedin:hover{
  color: rgb(14, 118, 168);
}

/* HandShake */

#handshake{
  color: white;
  transition: .5s ease;
}
#handshake:hover{
  font-size: 3rem;
  color:tomato;
}

.handshake{
  color: white;
  transition: .5s ease;
}
.handshake:hover{
  color:tomato;
}
/* Instagram */
#instagram{
  color: white;
  transition: .5s ease;
}

#instagram:hover{
  font-size: 3rem;
  display: block;
  color: #d6249f;
}

.instagram{
  color: white;
  transition: .5s ease;
}

.instagram:hover{
  color: #d6249f;
}
.middle {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.middle a{
  font-weight: 900;
  text-decoration: none;
  color: white;
}

.id{
  font-size: 4rem;
}


.text{
  font-size: .8rem;
}

hr {
  margin: auto;
  width: 70%;
}

.footer{
  width: 100%;
  font-size: .6rem;
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  line-height: 6px;
  margin-bottom: 10px;;
  opacity: 70%;
}

.footer > .footer-message{
  font-weight: bold;
}