.btn{
    background-color:silver;
    color: #11122b;
    font-size: 1.25rem;
    padding: 10px 25px;
    border:1px solid silver;
    border-radius: 2px;
    outline: none;
    width: 1100px;
    transition: 0.3s;
}

.btn:active{
box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}


.btn-wrapper{
    display: flex;
    justify-content: center;
    height: 150px;
    
}